#b1,#b2{
  font-size: x-large;
  font-style: oblique;
}
.IN{
  font-size: x-large;
}
.App {
  font-size: xx-large;
  font-style: oblique;
  align-self:flex-end;
  text-align: center;
  background-color: black;
  text-align: start;
  margin: 10px;
  border: 1px;
  
}
form{
  
  text-align: justify;
  padding: 2px;
  background-color: white;
  border-style: solid;
  border-color: crimson;
  border-radius: 10px;
  border-width: 3px;
  
}




